[buildout]
extends =
    http://dist.plone.org/release/4.1.4/versions.cfg

[versions]
# use newer versions of following packages to satisfy minimum requirements
zc.buildout = 1.6.3
zc.recipe.egg = 1.3.2
zope.pagetemplate = 3.6.3

# =================================
# Project external add-ons bindings
# =================================
buildout-versions = 1.7
collective.recipe.omelette = 0.15
collective.recipe.sphinxbuilder = 0.7.0
distribute = 0.6.24
five.grok = 1.2
five.intid = 1.0.2
grokcore.annotation = 1.1
grokcore.component = 1.9
grokcore.formlib = 1.4
grokcore.security = 1.2
grokcore.site = 1.1
grokcore.view = 1.13.5
grokcore.viewlet = 1.3
martian = 0.11.3
jarn.mkrelease = 3.7
mock = 0.8.0
pep8 = 1.3.3
plone.app.debugtoolbar = 1.0a2
Products.Clouseau = 1.0
Products.DocFinderTab = 1.0.5
Products.PDBDebugMode = 1.3.1
Products.PrintingMailHost = 0.7
Products.PythonField = 1.1.3
Products.TALESField = 1.1.3
Products.TemplateFields = 1.2.5
setuptools-flakes = 0.1
z3c.recipe.scripts = 1.0.1
zest.releaser = 3.39
zptlint = 0.2.4

# Required by:
# osha.quizzes==0.1
plone.api = 0.1a2

# Required by:
# osha.quizzes==0.1
Pillow = 1.7.7

# Required by:
# jarn.mkrelease==3.7
lazy = 1.0

# Required by:
# setuptools-flakes==0.1
pyflakes = 0.5.0

# Required by:
# jarn.mkrelease==3.7
setuptools-git = 0.4.2

# Required by:
# jarn.mkrelease==3.7
setuptools-hg = 0.4

# Required by:
# jarn.mkrelease==3.7
setuptools-subversion = 2.1

# Required by:
# osha.quizzes==0.1
Products.PloneFormGen = 1.7.2

# Required by:
# Products.PloneFormGen==1.7.2
collective.js.jqueryui = 1.8.16.9

# Required by:
# osha.quizzes==0.1
plone.app.contentlisting = 1.0.1

# Required by:
# plone.api==1.0.0-rc.1
decorator = 3.4.0

Products.SimpleAttachment = 4.3

# Required by:
# Products.PublicJobVacancy==1.4.1.dev0
Products.RichDocument = 3.4

# Required by:
# Products.PFGDataGrid==0.3.2
Products.DataGridField = 1.8b2
